In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/20181024_d1_0900_0930.csv', sep="[;]", index_col=False, error_bad_lines=False)

/tmp/ipykernel_122837/2972292615.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('../data/20181024_d1_0900_0930.csv', sep="[;]", index_col=False, error_bad_lines=False)
/tmp/ipykernel_122837/2972292615.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv('../data/20181024_d1_0900_0930.csv', sep="[;]", index_col=False, error_bad_lines=False)
/tmp/ipykernel_122837/2972292615.py:1: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv('../data/20181024_d1_0900_0930.csv', sep="[;]", index_col=False, error_bad_lines=False)

In [3]:
df.head()

,track_id,type,traveled_d,avg_speed,lat,lon,speed,lon_acc,lat_acc,time
0,1,Car,40.02,42.378689,37.976969,23.737802,45.3400,0.0004,0.0258,0.0
1,2,Motorcycle,42.18,28.119617,37.977468,23.737610,29.9975,0.0403,-0.1150,0.0
2,3,Car,21.35,12.808216,37.977634,23.737502,14.6204,-0.0127,0.2705,0.0
3,4,Car,145.28,33.961468,37.977863,23.737325,34.1970,0.0318,0.0879,0.0
4,5,Car,305.48,2.474650,37.979434,23.735979,0.0000,0.0000,0.0000,0.0

In [4]:
df.columns

Index(['track_id', ' type', ' traveled_d', ' avg_speed', ' lat', ' lon',
       ' speed', ' lon_acc', ' lat_acc', ' time'],
      dtype='object')

In [5]:
df.shape

(1113, 10)